@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary: #F2C94C;
    --black: #333333;
    --para-gap:600px
}

body {
    font-family: 'kalam', cursive;
    margin: 0;
    columns: #333333;
}

nav {
    background-color: var(--primary);
    text-align: center;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--para-gap);
}
textarea {
      width: 100%;
      min-height: 20vh;
      box-sizing: border-box;
      display: block;
      margin-top: 2rem;
      font-size: large;
      font-family: inherit;
    }

button {
    background-color: var(--primary);
    margin: 1rem 0;
    padding: 1rem 2rem;
    border: none;
    font-size: large;
    font-family: 'Kalam', cursive;
}

#txt-output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
    border: 1px solid var(--black);
}

footer {
    text-align: center;
    background-color: var(--primary);
    position: fixed;
    width: 100%;
    padding: 1rem;
    bottom: 0;
}

footer p {
    max-width: var(--para-gap);
    margin: auto;
}
